.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-content {
  padding:1rem;
  div {
    margin-bottom: 10px;
  }
}
